php_value upload_max_filesize 10G
php_value post_max_size 10G
php_value max_execution_time 500
php_value max_input_time 5000

#Yii url reqriting

Options +FollowSymLinks
IndexIgnore */*
RewriteEngine on

# if a directory or a file exists, use it directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# otherwise forward it to index.php
RewriteRule . index.php
